<div class="jumbotron">
    <div class="container">

        <form #employeeForm="ngForm" (ngSubmit)="employeeForm.form.valid && saveEmployee(employeeForm)" novalidate>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Create Employee</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group" [ngClass]="{ 'has-error': employeeForm.submitted && !fullName.valid }">
                        <label for="fullName">Full Name</label>
                        <input required name="fullName" id="fullName" [(ngModel)]="employeeForm.fullName" #fullName="ngModel" type="text" class="form-control">
                        <div *ngIf="employeeForm.submitted && !fullName.valid" class="help-block">First Name is required</div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':employeeForm.submitted && !gender.valid}">
                        <label for="gender">Gender</label>
                        <select name="gender" id="gender" [(ngModel)]="employeeForm.gender" #gender="ngModel" class="form-control" required>
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                </select>
                        <div *ngIf="employeeForm.submitted && !gender.valid" class="help-block">Gender is required.</div>
                        <!--<input name="gender" id="gender" [(ngModel)]="gender" type="text" class="form-control">-->
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':employeeForm.submitted && !employeeForm.salary}">
                        <label for="salary">Salary</label>
                        <input name="salary" id="salary" [(ngModel)]="employeeForm.salary" #salary="ngModel" type="number" class="form-control" required>
                        <div *ngIf="employeeForm.submitted && !salary.valid" class="help-block">Salary is required.</div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error': employeeForm.submitted && !address.valid}">
                        <label for="address">Address</label>
                        <input name="address" id="address" [(ngModel)]="employeeForm.address" #address="ngModel" type="text" class="form-control" required>
                        <div *ngIf="employeeForm.submitted && !address.valid" class="help-block">Address is required.</div>
                    </div>
                    <div class="form-group" [ngClass]="{'has-error':employeeForm.submitted && !date.valid}">
                        <label for="date">Date</label>
                        <input name="date" id="date" [(ngModel)]="employeeForm.date" #date="ngModel" required type="text" class="form-control">
                        <div *ngIf="employeeForm.submitted && !date.valid" class="help-block">Date is required.</div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>

        {{employeeForm.value | json}}

    </div>
</div>